/* Mobile CSS */
@media (max-width: 900px) {
  
  .home {
    padding-top: 10vh;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    background-color: #e5e5f7;
  }

  .home__asr--continue-button {
    width: 90%;
    /* align-items: center; */
    background-color: #2774ae;
    border: 3px solid transparent;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    margin: 15px;
    cursor: pointer;
    padding: 3px;
    /* box-shadow: 5px 5px #2774ae; */
    transition: width .08s;
    transition: background-color .5s;
    transition: color .3s;
  }

  .assistant {
    padding-top: 7vh;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    background-color: #e5e5f7;
  }

  .assistant__optiongrid {
    /* background-color: red;   */
    width: 90%;
    flex: 1;
    }

  .assistant__cards {
    /* align-items: center; */
    /* color: #343579; */
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    width: 100%;
    text-align: left;
    margin: 2%;
    box-shadow: 5px 5px #2774ae;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .assistant__cards:active {
    transform: scale(0.98);
  }

  .assistant__cards-image {
    display: flex;
    width:25px;
    height:25px;
    flex-shrink: 0;
    padding: 3px;
    /* border: solid 1px purple; */
  }
  
  .assistant__cards-text {
    display: unset;
    width: calc(100% - 120px);
    padding: 0 50px 0 15px;
    color: #2774ae;
    /* background-color: green; */
    margin: 3px 3px 3px 3px;
    font-size: 16px;
  }
  
  .assistant__cards-icon {
    display: flex;
    width: 20px;
    height: 20px;
  }

  /* .App is only used on EndPage, not yet configured */
  .App {
    padding-top: 70px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    background-color: #e5e5f7;
  }
}

/* PC CSS */
@media (min-width: 901px) {

  .home {
    padding: 100px;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #e5e5f7;
  }  

  .home__asr--continue-button {
    min-height: calc(20px + 1vh);
    min-width: calc(120px + 3vh);
    width: 500px;
    /* align-items: center; */
    background-color: #2774ae;
    border: 3px solid transparent;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    margin: calc(10px + 1vh);
    cursor: pointer;
    padding: 10px;
    /* box-shadow: 5px 5px #2774ae; */
    transition: width .08s;
    transition: background-color .5s;
    transition: color .3s;
  }

  .assistant {
    padding: 100px;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #e5e5f7;
  }

  .assistant__optiongrid{
    /* background-color: red;   */
    max-width: 1600px;
    width: 900px;
    flex: 1;
    }

  .assistant__cards {
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    min-height: calc(120px + 1vh);
    min-width: calc(92px + 1vh);
    width: 100%;
    /* align-items: center; */
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    /* color: #343579; */
    text-align: left;
    margin: calc(10px + 1vh);
    cursor: pointer;
    padding: 10px;
    box-shadow: 5px 5px #2774ae;
    transition: width .08s;
    transition: background-color .5s;
    transition: color .3s;
  }

  .assistant__cards:hover {
    border: solid #343579 1px;
    width: 100%;
    background-color: #b4b4e7;
  }

  .assistant__cards-image {
    display: flex;
    flex-direction: row;
    width:50px;
    height:50px;
    flex-shrink: 0;
    padding: 6px;
    /* border: solid 1px purple; */
  }
  
  .assistant__cards-text {
    display: unset;
    flex-direction: row;
    width: calc(100% - 100px);
    padding: 0 100px 0 30px;
    color: #2774ae;
    /* background-color: green; */
    margin: auto;
    font-size: 25px;
  }
  
  .assistant__cards-icon {
    display: flex;
    flex-direction: row;
    width:40px;
    height:40px;
  }

  .App {
    padding: 100px;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #e5e5f7;
  }
}

/* CSS that works universally */
p {
  color: #101820
}

ul {
  list-style-type: none; 
}

.navbar {
  /* width: 100%; */
  display: flex;
  align-items: center;
  height: 6vh;
  background-color: #2774ae;
  font-size: calc(10px + 1vmin);
  color: #dde5ed;
  text-align: center;
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 4px;
  position: fixed;
  width: 100%
}

.navbar__menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#2774ae;
}
.navbar__menu-items li {
  float: left;
}
.navbar__menu-items li a {
  display: block;
  color: #dde5ed;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar__menu-items li a:hover {
  background-color: #468ec6;
}

.home__preinfo {
  color: #101820;
}

.home__asr {
  background-color: white;
  border-radius: 5px;
  color: rgb(32, 51, 138);
  padding: 1px 15px 1px 15px;
  margin-top: 15px;
}

.home__asr--inclayton {
  color: #6ba539;
  
}

.home__asr--notinclayton {
  color: #ee2737;
}

.home__asr--continue-button:hover {
  background-color: white;
  color:rgb(32, 51, 138);
  border: 3px solid rgb(32, 51, 138)
}

.assistant__back-button {
  /* min-height: calc(20px + 1vh);
  min-width: calc(120px + 3vh);
  width: 100px;
  /* align-items: center; */
  /* background-color: rgb(32, 51, 138);
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  text-align: left;
  margin: calc(10px + 1vh);
  cursor: pointer;
  padding: 10px;
  box-shadow: 5px 5px #2774ae;
  transition: width .08s;
  transition: background-color .5s;
  transition: color .3s; */
  display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #468ec6;
}
.assistant__back-button:hover {
  background-color: #ffffff;
  color: #468ec6;
  border: #468ec6 1px solid;
  cursor: pointer;
}

.endpage {
  padding: 80px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #e5e5f7;
}

#endpage__card {
  background-color: #343579;
  padding: 20px;
  border-radius: 5px;
}

#endpage__card {
  color: white;
}

/* This hides the screen reader text on the search bar */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.link {
  color: #343579
}

.endpage-p {
  color: white;
}

.endpage-acknowledgement-no {
  color: black;
  border: 1px black solid;
  cursor: pointer;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
  min-height: calc(120px + 1vh);
  min-width: calc(92px + 1vh);
  width: 80%;
  transition: background-color .3s;
  background-color: rgb(255, 255, 255);
}

.endpage-acknowledgement-no:hover {
  background-color: rgb(212, 212, 212);
}

.endpage-acknowledgement-yes {
  color: white;
  border: 1px black solid;
  cursor: pointer;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
  min-height: calc(120px + 1vh);
  min-width: calc(92px + 1vh);
  width: 80%;
  background-color: #c7ffcc;
}

.larger {
  transform: scale(3);
  margin-left: 20px
}

.endpage ol li{
  text-align: left;
  margin-left: 5em;
}

.end-unconfirmed p {
color: grey;
}

.end-confirmed a {
color: rgb(238, 255, 238);
}
.continuebutton-endpage {
  display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #007bff;
}

.endpage-acknowledgement {
  flex-direction: row;
    display: inline-flex;
    align-items: center;
    min-height: calc(120px + 1vh);
    min-width: calc(92px + 1vh);
    width: 80%;
}

.endpage-checkbox{
  width:30px;
  height:30px;
  float:left;
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
}

.assistant__cards p {
  color:#2774ae;
  display: unset;
}





