.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 3%;
  max-height: 7%;
  background-color: #2774ae;
  font-size: calc(10px + 1vmin);
  color: #dde5ed;
  text-align: center;
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 4px;
  /* position: fixed; */
}

p {
  color:#2774ae;
}
.menuItems {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#2774ae;
}

.menuItems li {
  float: left;
}

.menuItems li a {
  display: block;
  color: #dde5ed;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menuItems li a:hover {
  background-color: #468ec6;
}

.App {
  padding: 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #e5e5f7;
}

.centerdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: black;
}

.addresssearchredirect{
  background-color: white;
  border-radius: 5px;
  color: rgb(32, 51, 138);
  padding: 1px 15px 1px 15px;
  margin-top: 15px;
  animation: 
}
.inclayton{
  color: #6ba539;
  
}

.notinclayton{
  color: #ee2737;
}

.endpageapp {
  padding: 80px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #e5e5f7;
}

#endpagecard{
  background-color: #343579;
  padding: 20px;
  border-radius: 5px;
}

#endpagecard a {
  color: white;
}

.returnbutton {
  min-height: calc(20px + 1vh);
  min-width: calc(120px + 3vh);
  width: 100px;
  /* align-items: center; */
  background-color: rgb(32, 51, 138);
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  text-align: left;
  margin: calc(10px + 1vh);
  cursor: pointer;
  padding: 10px;
  box-shadow: 5px 5px #2774ae;
  transition: width .08s;
  transition: background-color .5s;
  transition: color .3s;
}

.continuebutton{
  min-height: calc(20px + 1vh);
  min-width: calc(120px + 3vh);
  width: 500px;
  /* align-items: center; */
  background-color: rgb(32, 51, 138);
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  text-align: left;
  margin: calc(10px + 1vh);
  cursor: pointer;
  padding: 10px;
  box-shadow: 5px 5px #2774ae;
  transition: width .08s;
  transition: background-color .5s;
  transition: color .3s;
}

.continuebutton:hover{
  background-color: white;
  color:rgb(32, 51, 138);
  border:
}
.returnbutton:hover{
  background-color: white;
  color:rgb(32, 51, 138);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.preinfo{
  color: #2774ae;
}

.OptionGrid{
/* background-color: red;   */
max-width: 1600px;
width: 900px;
flex: 1;
}

.questionListItems{
/* background-color: black; */


}

.questionButtons {
  min-height: calc(120px + 1vh);
  min-width: calc(92px + 1vh);
  width: 700px;
  /* align-items: center; */
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  /* color: #343579; */
  text-align: left;
  margin: calc(10px + 1vh);
  cursor: pointer;
  padding: 10px;
  box-shadow: 5px 5px #2774ae;
  transition: width .08s;
  transition: background-color .5s;
  transition: color .3s;
  
}

ul {
  list-style-type: none; 
  
}

.questionButtons:hover {
  border: solid #343579 1px;
  width: 705px;
  background-color: #b4b4e7;
  
}

.questionButtons {
  flex-direction: row;
  display: inline-flex;
  align-items: center;
}

.Button_inline_image{
  display: flex;
  width:50px;
  height:50px;
  flex-shrink: 0;
  padding: 6px;
  /* border: solid 1px purple; */
}

.Button_inline_text{
  display: flex;
  width: calc(100% - 100px);
  padding: 0 100px 0 30px;
  color: #2774ae;
  /* background-color: green; */
  margin: auto;
  font-size: 25px;
}

.Button_inline_icon{
  display: flex;
  color:rgb(117, 115, 115);
  /* border: 1px solid orange; */
  width:40px;
  height:40px;
}
/* This hides the screen reader text on the search bar */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


















